nav {
    margin-top: 50px;
}
nav, ul, li {
    display: inline;
    text-align: center;
    margin-left: 8%;
    color: black;
    text-decoration: black;
    text-decoration: none;
    margin-top: 50px;
}